<!DOCTYPE html>
<html>
  <head>
    <title>Web Application Metadata Markup</title>
    <meta name="description" content="Speed up the development of your app by weeks without compromising on quality.">
    <meta name="keywords" content="saas template boilerplate generator ai coding assistant">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@webamm_org">
    <meta property="twitter:title" content="Web Application Metadata Markup">
    <meta property="twitter:description" content="Speed up the development of your app by weeks without compromising on quality.">
    <meta property="twitter:image" content="<%= asset_url('webamm.jpg') %>">
    <meta property="og:title" content="Web Application Metadata Markup">
    <meta property="og:description" content="Speed up the development of your app by weeks without compromising on quality.">
    <meta property="og:image" content="<%= asset_url('webamm.jpg') %>">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if Rails.env.production? %>
      <script defer data-domain="webamm.org" src="https://plausible.io/js/script.js"></script>
    <% end %>
  </head>

  <body class="antialiased">
    <%= yield %>
  </body>
</html>
